$primary : #000;
$secondary : #fff;
$icon-color:#ff5a5f;
$color-hr : #dce0e0;
$hr-height: 0.055rem;
$font-family: 'Open Sans', sans-serif;
$height : 35vh;
$cover: cover;
$flex : flex;
$list_style : none;
$primary-color : #000;
$font-size : 18px;
$left_menu : 5em;
$secondary-color: #fff;
$basic-padding : 0.75em;
$radius_button : 2em;
$link_size: 0.75em;
$right_menu : 2em;
$body_width: 80%;
$space_section : 5em;
$input_width: 95%;
$input_height:2.5em;
$border_form : 1px solid #E0E3DA;
$border_radius_form :0.5em;
$outline : none;
$body_color:#fff;
$background_button : #F16B6F;
$size_button : 0.75em;
$size_form : 0.85em;
$color_form : #8b8687;
$footer_input_color : #00848b;
$link_color: #767676;
$border_color_footer : #dce0e0;
$destinations_family : 'Delius Unicase', cursive;


